* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body{
    background-color: black;
}
/* .logo{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    padding-top: 50px;
} */
h1{
    padding: 70px;
    text-align: center;
    color: white;
}

/* .image {
    width: 120px;
    border-radius: 50%;
  } */
